<mat-toolbar color="primary">
  <h2 mat-dialog-title>{{'ADMIN_PAGE.EDIT_DEVELOPER' | translate}}</h2>
</mat-toolbar>
<mat-dialog-content>
  <div layout="column" layout-padding>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="Username" [(ngModel)]="user.username">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <textarea matInput placeholder="AboutMe" [(ngModel)]="user.aboutMe"></textarea>
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="File name" [(ngModel)]="user.picture">
      </mat-input-container>
    </div>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <span class="toolbar-spacer"></span>
  <button mat-button (click)="cancel()">
    <mat-icon class="icon">cancel</mat-icon>{{'GLOBAL.CANCEL' | translate}}
  </button>
  <button mat-button color="primary" (click)="editDeveloper()">
    <mat-icon class="icon">mode_edit</mat-icon>{{'GLOBAL.SAVE' | translate}}
  </button>
</mat-dialog-actions>
