<mat-toolbar color="primary">
  <h2 mat-dialog-title>{{'ADMIN_PAGE.EDIT_DEVELOPER' | translate}}</h2>
</mat-toolbar>
<mat-dialog-content>
  <div layout="column" layout-padding>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput placeholder="{{'LOGIN.USERNAME' | translate}}" [(ngModel)]="user.username">
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput placeholder="{{'LOGIN.MAIL' | translate}}" [(ngModel)]="mail">
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput placeholder="{{'LOGIN.PASSWORD' | translate}}" [(ngModel)]="user.password" [type]="'password'" size="15">
      </mat-form-field>
    </div>    
    <div flex>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="{{'DEVELOPER.ABOUTME' | translate}}" [(ngModel)]="user.aboutMe"></textarea>
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput placeholder="{{'GLOBAL.FILENAME_IMAGE' | translate}}" [(ngModel)]="user.picture">
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <span class="toolbar-spacer"></span>
  <button mat-button (click)="cancel()">
    <mat-icon class="icon">cancel</mat-icon>{{'GLOBAL.CANCEL' | translate}}
  </button>
  <button mat-button color="primary" (click)="editDeveloper()">
    <mat-icon class="icon">mode_edit</mat-icon>{{'GLOBAL.SAVE' | translate}}
  </button>
</mat-dialog-actions>
