<h2 mat-dialog-title>{{'ADMIN_PAGE.EDIT_DEVELOPER' | translate}}</h2>
<form [formGroup]="editForm">
<mat-dialog-content>
  <div layout="column" layout-padding>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput placeholder="{{'DEVELOPER.DEVELOPER' | translate}}" [(ngModel)]="data.user.username" class="form-control" formControlName="name">
        <mat-error>{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput placeholder="{{'LOGIN.MAIL' | translate}}" [(ngModel)]="data.user.mail" class="form-control" formControlName="mail">
        <mat-error>{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="{{'DEVELOPER.ABOUTME' | translate}}" [(ngModel)]="data.user.aboutMe" class="form-control" formControlName="about"></textarea>
      </mat-form-field>
    </div>
    <div flex>
      <mat-select [placeholder]="data.user.role.name" matInput [(ngModel)]="data.user.role" formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role.name}}
        </mat-option>
        <mat-error>{{getErrorMessage()}}</mat-error>
      </mat-select>
    </div>
    <hr/>
    <div>
      <img [src]="imageToShow">
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="{{'GLOBAL.FILENAME_IMAGE' | translate}}" [(ngModel)]="data.user.picture" class="form-control" formControlName="picture">
      </mat-form-field>
    </div>
    <div>
      <td-data-table #dataTable [data]="userToWorlds" [sortable]="true" [columns]="columns">
        <ng-template tdDataTableTemplate="editJoined" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <mat-checkbox [checked]="row.joined" (change)="row.joined = $event.checked"></mat-checkbox>
          </div>
        </ng-template>
      </td-data-table>

    </div>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">
    <mat-icon class="icon">cancel</mat-icon>
    {{'GLOBAL.CANCEL' | translate}}
  </button>
  <button mat-button color="primary" (click)="editDeveloper()">
    <mat-icon class="icon">mode_edit</mat-icon>
    {{'GLOBAL.SAVE' | translate}}
  </button>
</mat-dialog-actions>
</form>