<mat-toolbar color="primary">
  <h2 mat-dialog-title>{{"ADVENTURE.NEW_ADVENTURE" | translate}}</h2>
</mat-toolbar>

<mat-dialog-content>

  <div layout="column" layout-padding>
    <div flex>
      <mat-select [placeholder]="'WORLD.WORLD' | translate" [(ngModel)]="selectedWorld" floatPlaceholder="true" name="world" class="full-width">
        <mat-option *ngFor="let world of worlds" [value]="world">{{ world.name }}</mat-option>
      </mat-select>
    </div>

    <mat-divider></mat-divider>

    <div flex>
      <mat-input-container class="full-width">
        <input matInput [placeholder]="'TABLE.COLUMNS.TITLE' | translate" [(ngModel)]="title">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput [placeholder]="'DEVELOPER.GOLD' | translate" type="number" [(ngModel)]="gold">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput [placeholder]="'DEVELOPER.XP' | translate" type="number" [(ngModel)]="xp">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <textarea matInput [placeholder]="'TABLE.COLUMNS.STORY' | translate" [(ngModel)]="story"></textarea>
      </mat-input-container>
    </div>
  </div>

  <mat-toolbar>
    <h3>{{"QUEST.QUESTS" | translate}}</h3>

    <span class="toolbar-spacer"></span>

    <button color="accent" mat-icon-button (click)="addFreeQuest()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <mat-list>
    <mat-list-item *ngFor="let quest of quests">
      <h3 mat-line> {{quest?.title}} </h3>
      <p mat-line>
        <span>{{"DEVELOPER.GOLD" | translate}}: {{quest?.gold}}, </span>
        <span>{{"DEVELOPER.XP" | translate}}: {{quest?.xp}}</span>
      </p>
      <button mat-icon-button (click)="removeQuest(quest)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color="primary" (click)="createAdventure()">{{"GAMEMASTER_PAGE.ADVENTURE.CREATE_ADVENTURE" | translate}}</button>
</mat-dialog-actions>