<mat-card>
<mat-card>
    <div>
        <!-- karte -->
        <p>Dies ist ein Titel</p>
        <div class="history-wrapper">
            <div class="d-flex flex-row h-100 justify-content-around">
                <span class="task-history-bar" style="height: 22.3%"></span>
                <span class="task-history-bar" style="height: 55.9%"></span>
                <span class="task-history-bar" style="height: 12.3%"></span>
                <span class="task-history-bar" style="height: 70.3%"></span>
                <span class="task-history-bar" style="height: 0.3%"></span>
                <span class="task-history-bar" style="height: 1.75%"></span>
                <span class="task-history-bar" style="height: 100%"></span>
            </div>
            <div class="d-flex flex-row justify-content-around">
                <span>22.05.2001</span>
                <span>22.05.2001</span>
                <span>22.05.2001</span>
                <span>22.05.2001</span>
                <span>22.05.2001</span>
                <span>22.05.2001</span>
                <span>22.05.2001</span>
            </div>
        </div>
    </div>
</mat-card>

</mat-card>