.username-toolbar{
    font-size: 12pt
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.vertical-align{
    display: flex;
    align-items: center;
  justify-content: center;
}

mat-sidenav-container{
  background-image: url("/assets/images/background/bg03.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
}