#questcard {
  background-image: url('/assets/images/dagger.png');
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: difference;
  width: 100%;
}

.score-icon{
  margin: 0px 2.5px;
}

.scoring-bar{
    display: inline-block;
    margin-top: 5px;
}
