<mat-card>
  <mat-card-content>
    <div align="center">
      <h2>
        {{"QUEST_PAGE.MY_QUESTS_FOR_WORLD"| translate}} <strong>{{currentWorld?.name}}</strong>
      </h2>
    </div>
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile *ngFor="let quest of participatedQuests">
        <div id="tobecovered">
          <img src="assets\images\dagger.png" class="cover" />
          <mat-card>
            <mat-card-header>
              <img mat-card-avatar [src]="quest.image">
              <mat-card-title>
                <h3>{{quest.title}}</h3>
              </mat-card-title>
              <mat-card-subtitle>{{adventure?.title}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                {{"TABLE.COLUMNS.GOLD" | translate}}: {{quest.gold}}
                <br />
                {{"TABLE.COLUMNS.XP" | translate}}: {{quest.xp}}
                <br />
                {{"TABLE.COLUMNS.STATUS" | translate}}: {{quest.status}}
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-icon-button (click)="viewQuest(quest)" [matTooltip]="'QUEST_PAGE.SHOW_QUEST' | translate"
                [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="below">
                <i class="ra ra-quill-ink ra-2x"></i>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>