.sonar-rules{
    margin-bottom: 7px;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
color:#C75959;
}

a{
    font-size: 0.9rem;
}

.mat-list-item {
height: 25px;
}

.mat-subheader{
    padding: 0px 16px 16px 16px;
}

.dialog-title{
    display: inline-block;
    margin-left: 10px;
}
.description-header{
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.description-box{
    padding: 0px 0px 25px 16px;
}