<div layout="column" layout-padding>

  <div flex>
    <mat-form-field class="full-width">
      <input matInput [placeholder]="'Raid Titel' | translate" [(ngModel)]="raid.title">
    </mat-form-field>
  </div>
  <div flex>
    <mat-form-field>
      <input matInput [placeholder]="'Gold pro fehlerfreien Tag' | translate" type="number" [(ngModel)]="raid.gold">
    </mat-form-field>
    <mat-form-field>
      <input matInput [placeholder]="'XP pro fehlerfreien Tag' | translate" type="number" [(ngModel)]="raid.xp">
    </mat-form-field>
    <div flex layout="row">
      <span>{{"GLOBAL.IMAGE" | translate}}:</span>
      <span class="vertical-spacer-10"></span>
      <mat-select placeholder="Monster wählen" [(ngModel)]="raid.monsterImage">
        <mat-option *ngFor="let image of images" [value]="image.src">
          <img [src]="image.src">
          <span>{{image.name}}</span>
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div layout="row">
    <div flex></div>
    <button mat-raised-button color="primary" (click)="updateQualityGateRaid()">Update Quality Gate vom SonaQube
      Server</button>
  </div>
  <mat-card-content>
    <div layout-padding>
      <td-data-table #dataTable [data]="data" [columns]="columns" [sortable]="true">
        <ng-template tdDataTableTemplate="edit" let-value="value" let-row="row" let-column="column">
        </ng-template>
      </td-data-table>
      <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <h3>{{"GLOBAL.NO_ENTRIES" | translate}}</h3>
      </div>
    </div>
  </mat-card-content>
</div>