version: '3'
services:
  backend:
    build:
      context: sonarQuest-backend/
      dockerfile: Docker/Dockerfile
    command: -DsimulateSonarServer=false
    ports:
     - "8080:8080"
  frontend:
    build:
      context: sonarQuest-frontend/
      dockerfile: Docker/Dockerfile
    ports:
      - "4200:4200"
