
<h2 mat-dialog-title>{{'ADMIN_PAGE.CREATE_DEVELOPER' | translate}}</h2>
<form [formGroup]="createForm">
<mat-dialog-content>
  <div layout="column" layout-padding>
    <div flex>
      <mat-input-container class="full-width">
        <input class="form-control" formControlName="name" matInput placeholder="{{'DEVELOPER.DEVELOPER' | translate}}">   
        <mat-error>{{getErrorMessage()}}</mat-error>            
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input class="form-control" formControlName="password" matInput placeholder="{{'LOGIN.PASSWORD' | translate}}" [type]="'password'">
        <mat-error>{{getErrorMessage()}}</mat-error>
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <textarea class="form-control" formControlName="about" matInput placeholder="{{'DEVELOPER.ABOUTME' | translate}}"></textarea>
      </mat-input-container>
    </div>
    <div flex>
      <mat-select placeholder="{{'TABLE.COLUMNS.ROLE' | translate}}" matInput formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role.name}}
        </mat-option>
        <mat-error>{{getErrorMessage()}}</mat-error>
      </mat-select>
    </div>
    <div flex>
      <mat-select placeholder="{{'DEVELOPER.AVATARRACE' | translate}}" matInput formControlName="race">
        <mat-option *ngFor="let race of races" [value]="race">
          {{race.name}}
        </mat-option>
        <mat-error>{{getErrorMessage()}}</mat-error>
      </mat-select>
    </div>
    <div flex>
      <mat-select placeholder="{{'DEVELOPER.AVATARCLASS' | translate}}" matInput formControlName="class">
        <mat-option *ngFor="let class of classes" [value]="class">
          {{class.name}}
        </mat-option>
        <mat-error>{{getErrorMessage()}}</mat-error>
      </mat-select>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input class="form-control" formControlName="picture" matInput placeholder="{{'GLOBAL.FILENAME_IMAGE' | translate}}">
      </mat-input-container>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">
    <mat-icon class="icon">cancel</mat-icon>{{'GLOBAL.CANCEL' | translate}}
  </button>
  <button mat-button color="primary" (click)="createDeveloper()" [disabled]="!createForm.valid">
    <mat-icon class="icon">add</mat-icon>{{'GLOBAL.CREATE' | translate}}
  </button>
</mat-dialog-actions>
</form>
