
<mat-dialog-content>
    <h3>{{quest.title}}</h3>
  <div>
    <img style="max-width:100%; max-height:100%" [src]="quest.image">
  </div>
  <div layout="row">
    <div flex>
      <b>{{"DEVELOPER.GOLD"| translate}}: </b>{{quest.gold}}
    </div>
    <div flex>
     <b>{{"DEVELOPER.XP"| translate}}: </b> {{quest.xp}}
    </div>
  </div>

  <div class="storyContainer">
        {{quest.story}}
  </div>
  <mat-divider></mat-divider>
    <h3>{{"TASK.TASKS"| translate}}</h3>
  <mat-list>
    <mat-list-item *ngFor="let task of quest.tasks">
      <h3 mat-line> {{task?.title}} </h3>
      <p mat-line>
        <span>{{"DEVELOPER.GOLD"| translate}}: {{task?.gold}}, </span>
        <span>{{"DEVELOPER.XP"| translate}}: {{task?.xp}}</span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-divider></mat-divider>
<div layout="row" class="buttonRow">
      <div flex></div>
      <div>
          <button mat-raised-button color="primary" (click)="participateInQuest()">{{"QUEST_PAGE.JOIN_QUEST"| translate}}</button>
      </div>
      <div flex></div>
</div>
