.storyContainer{
    padding-top: 5%;
    padding-bottom: 5%
}

.buttonRow{
    padding-top: 2%;
}

.score-icon{
    margin: 0px 2.5px;
  }

  .scoring-bar{
      display: inline-block;
      margin-top: 5px;
  }

.mat-list-item div{
    color: rgba(0, 0, 0, 0.38);
}
