 <mat-card *ngIf="!currentWorld?.usequestcards">
  <mat-card-content>
    <div layout-padding>
      <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <span *ngIf="!searchBox.searchVisible && currentWorld?.name" class="push-left-sm">
          <span *ngIf="!selectedRows.length || !selectable" class="mat-card-title" style="margin:0">
            {{"QUEST_PAGE.AVAILABLE_QUESTS_FOR_WORLD"| translate}}
            <strong>{{currentWorld?.name}}</strong>
          </span>
        </span>
        <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Suche" (searchDebounce)="search($event)"
          flex>
        </td-search-box>
      </div>
      <mat-divider></mat-divider>
      <td-data-table #dataTable [data]="filteredData" [columns]="columns" [sortable]="true" [sortBy]="sortBy"
        [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)">
        <ng-template tdDataTableTemplate="edit" let-value="value" let-row="row" let-column="column">
          <div layout="row">
            <button mat-icon-button (click)="viewQuest(row)" [matTooltip]="'QUEST_PAGE.SHOW_QUEST' | translate"
              [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="below">
              <i class="ra ra-quill-ink ra-lg"></i>
            </button>
          </div>
        </ng-template>
      </td-data-table>
      <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
        <h3>{{"TABLE.INFO.NO_ENTRIES"| translate}}</h3>
      </div>
      <td-paging-bar #pagingBar [pageSize]="5" [total]="filteredTotal" (change)="page($event)">
        <span td-paging-bar-label hide-xs>{{"TABLE.INFO.ENTRIES_OF_THIS_PAGE"| translate}}</span> {{pagingBar.range}}
        <span hide-xs>{{"TABLE.INFO.OF"| translate}} {{pagingBar.total}}</span>
      </td-paging-bar>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="currentWorld?.usequestcards">
  <mat-card-content>
    <div align="center" *ngIf="currentWorld?.name">
      <h2>
        {{"QUEST_PAGE.AVAILABLE_QUESTS_FOR_WORLD"| translate}} <strong>{{currentWorld?.name}}</strong>
      </h2>
    </div>
    <div *ngFor="let quest of availableQuests" class="quest-container">
      <mat-card id="questcard">
          <mat-card-header>
            <img mat-card-avatar [src]="quest.image" alt="Image of the Quest {{ quest.title }}">
            <mat-card-title>
              <h3>{{quest.title}}</h3>
            </mat-card-title>
            <mat-card-subtitle>{{quest.adventure?.title}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>
              {{"TABLE.COLUMNS.GOLD" | translate}}: {{quest.gold}}
              <br />
              {{"TABLE.COLUMNS.XP" | translate}}: {{quest.xp}}
              <br />
              {{"TABLE.COLUMNS.STATUS" | translate}}: {{quest.status}}
              <br />
              {{"TABLE.COLUMNS.CREATORNAME" | translate}}: {{quest.creatorName}}     
            </div>
            
          </mat-card-content>
          <mat-card-actions>
            <div align="right">
              <button mat-icon-button (click)="viewQuest(quest)" [matTooltip]="'QUEST_PAGE.SHOW_QUEST' | translate"
                [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="below">
                <i class="ra ra-quill-ink ra-2x"></i>
              </button>
              <button mat-icon-button (click)="participateInQuest(quest)" [matTooltip]="'QUEST_PAGE.JOIN_QUEST' | translate"
                [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="below">
                <i class="ra ra-sword ra-2x"></i>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
  </mat-card-content>
</mat-card>
