<mat-toolbar color="primary">
  <h2 mat-dialog-title>{{"TASK.ADD_FREE_TASK" | translate}}</h2>
</mat-toolbar>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab [label]="'TASK.FREE_STANDARDTASKS' | translate">
      <div *ngIf="freeStandardTasks">
        <td-data-table #dataTable [data]="filteredStandardTasks" [columns]="freeStandardTasksColumns">
          <ng-template tdDataTableTemplate="add_task" let-value="value" let-row="row" let-column="column">
            <div layout="row">
              <button mat-icon-button (click)="addTask(row)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div layout="row">
              <button mat-icon-button (click)="openIssue(row)" 
                [matTooltip]="'QUEST_PAGE.SHOW_ISSUE_TOOLTIP' | translate"
                [matTooltipClass]="'tooltipMultiline'"
                matTooltipPosition="after">
                <i class="ra ra-chain"></i>
              </button>
            </div>
          </ng-template>
        </td-data-table>
        <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
          <h3>{{"GLOBAL.NO_ENTRIES" | translate}}</h3>
        </div>
        <td-paging-bar *ngIf="dataTable.hasData" #pagingBar
                       [pageSize]="pageSize" [total]="freeStandardTasks.length" (change)="pageStandardTask($event)">
          <span td-paging-bar-label hide-xs>{{"TABLE.INFO.ENTRIES_OF_THIS_PAGE" | translate}}</span>{{pagingBar.range}}
          <span hide-xs>{{"TABLE.INFO.OF"| translate}} {{pagingBar.total}}</span>
        </td-paging-bar>
      </div>
      <div *ngIf="!freeStandardTasks">
        <mat-spinner></mat-spinner>
      </div>
    </mat-tab>

    <mat-tab [label]="'TASK.FREE_SPECIALTASKS' | translate">
      <div *ngIf="freeSpecialTasks">
        <td-data-table #dataTable [data]="filteredSpecialTasks" [columns]="freeSpecialTasksColumns">
          <ng-template tdDataTableTemplate="add_task" let-value="value" let-row="row" let-column="column">
            <div layout="row">
              <button mat-icon-button (click)="addTask(row)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-template>
        </td-data-table>
        <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
          <h3>{{"GLOBAL.NO_ENTRIES" | translate}}</h3>
        </div>
        <td-paging-bar *ngIf="dataTable.hasData" #pagingBar
                       [pageSize]="pageSize" [total]="freeSpecialTasks.length" (change)="pageSpecialTask($event)">
          <span td-paging-bar-label hide-xs>{{"TABLE.INFO.ENTRIES_OF_THIS_PAGE" | translate}}</span>{{pagingBar.range}}
          <span hide-xs>{{"TABLE.INFO.OF"| translate}} {{pagingBar.total}}</span>
        </td-paging-bar>
      </div>
      <div *ngIf="!freeSpecialTasks">
        <mat-spinner></mat-spinner>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
