<mat-toolbar color="primary">
  <h2 mat-dialog-title>{{"TASK.ADD_FREE_TASK" | translate}}</h2>
</mat-toolbar>
<mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let task of freeTasks">
      <h3 mat-line> {{task.title}} </h3>
      <p mat-line>
        <span *ngIf="task.debt">{{"TASK.STANDARDTASK" | translate}}</span>
        <span *ngIf="!task.debt">{{"TASK.SPECIALTASK" | translate}}</span>
      </p>
      <p mat-line>
        <span>{{"DEVELOPER.GOLD" | translate}}: {{task.gold}}, </span>
        <span>{{"DEVELOPER.XP" | translate}}: {{task.xp}}</span>
      </p>
      <button mat-fab color="accent" (click)="openIssue(task)">
        <i class="ra ra-chain"></i>
      </button>

      <button mat-fab color="accent" (click)="addTask(task)">
        <mat-icon>add</mat-icon>
      </button>

    </mat-list-item>
  </mat-list>
  <h2 *ngIf="freeTasks?.length==0">{{"TASK.NO_FREE_TASKS_AVAILABLE" | translate}}!</h2>
</mat-dialog-content>
