<mat-toolbar color="primary">
  <h2 mat-dialog-title>{{"GAMEMASTER_PAGE.TASK.EDIT_STANDARDTASK" | translate}}</h2>
</mat-toolbar>

<mat-dialog-content>
  <div layout="column" layout-padding>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="Titel" [(ngModel)]="standardTask.title">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="Gold" type="number" [(ngModel)]="standardTask.gold">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="XP"  type="number" [(ngModel)]="standardTask.xp">
      </mat-input-container>
    </div>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color="primary" (click)="updateStandardTask()">{{"GLOBAL.SAVE" | translate}}</button>
</mat-dialog-actions>
