<h2 mat-dialog-title>{{"QUEST.NEW_QUEST" | translate}}</h2>
<mat-dialog-content>
  <div layout="column" layout-padding style="margin-bottom: 10px">
    <div flex>
      <mat-select placeholder="Welt" [(ngModel)]="selectedWorld" floatPlaceholder="true" name="world" class="full-width">
        <mat-option *ngFor="let world of worlds" [value]="world">{{ world.name }}</mat-option>
      </mat-select>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="Titel" [(ngModel)]="title">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="Gold" type="number" [(ngModel)]="gold">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="XP"  type="number" [(ngModel)]="xp">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <textarea matInput placeholder="Erzählung" [(ngModel)]="story"></textarea>
      </mat-input-container>
    </div>
    <div>
      <img style="max-width:100%; max-height:100%; border: 1px solid #888" [src]="selectedImage">
    </div>
    <div flex>
      <mat-select placeholder="Image" [(ngModel)]="selectedImage">
        <mat-option *ngFor="let image of images" [value]="image.src">
          {{image.name}}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div layout="row">
    <h3>{{"TASK.TASKS" | translate}}</h3>
    <div flex></div>
    <div style="padding-top: 5%">
      <span >{{"DEVELOPER.GOLD" | translate}}: {{calculateGoldAmountOfTasks()}}</span>
    </div>
      <div flex></div>
    <div style="padding-top: 5%">
      <span>{{"DEVELOPER.XP" | translate}}: {{calculateXpAmountOfTasks()}}</span>
    </div>
    <div flex></div>
    <button style="padding-top:2.5%" mat-icon-button (click)="addFreeTask()"><mat-icon>add</mat-icon></button>
    <div flex="5"></div>
    <button style="padding-top:2.5%" mat-icon-button (click)="suggestTasks()"><mat-icon>lightbulb_outline</mat-icon></button>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let task of tasks">
      <h3 mat-line> {{task?.title}} </h3>
      <p mat-line>
        <span *ngIf="task?.debt">{{"TASK.STANDARDTASK" | translate}}</span>
        <span *ngIf="!task?.debt">{{"TASK.SPECIALTASK" | translate}}</span>
      </p>
      <p mat-line>
        <span>{{"DEVELOPER.GOLD" | translate}}: {{task?.gold}}, </span>
        <span>{{"DEVELOPER.XP" | translate}}: {{task?.xp}}</span>
      </p>
      <button mat-icon-button (click)="removeTask(task)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="createQuest()">{{"GAMEMASTER_PAGE.QUEST.CREATE_QUEST" | translate}}</button>
</mat-dialog-actions>
