<mat-toolbar color="primary">
  <h2 mat-dialog-title>{{"QUEST.NEW_QUEST" | translate}}</h2>
  <span class="toolbar-spacer"></span>
  <img style="max-width:100%; max-height:100%; margin-right: -16px;" [src]="selectedImage">
</mat-toolbar>

<mat-dialog-content>
  <div layout="column" layout-padding>

    <div flex>
      <mat-select placeholder="Welt" [(ngModel)]="selectedWorld" floatPlaceholder="true" name="world" class="full-width">
        <mat-option *ngFor="let world of worlds" [value]="world">{{ world.name }}</mat-option>
      </mat-select>
    </div>

    <mat-divider></mat-divider>

    <div flex>
      <mat-input-container class="full-width">
        <input matInput [placeholder]="'TABLE.COLUMNS.TITLE' | translate" [(ngModel)]="title">
      </mat-input-container>
    </div>

    <div flex>
      <mat-input-container class="full-width">
        <input matInput [placeholder]="'DEVELOPER.GOLD' | translate" type="number" [(ngModel)]="gold">
      </mat-input-container>
    </div>

    <div flex>
      <mat-input-container class="full-width">
        <input matInput [placeholder]="'DEVELOPER.XP' | translate" type="number" [(ngModel)]="xp">
      </mat-input-container>
    </div>

    <div flex>
      <mat-input-container class="full-width">
        <textarea matInput [placeholder]="'TABLE.COLUMNS.STORY' | translate" [(ngModel)]="story"></textarea>
      </mat-input-container>
    </div>

    <div flex layout="row">
      <span>{{"GLOBAL.IMAGE" | translate}}:</span>
      <span class="vertical-spacer-10"></span>
      <mat-select placeholder="{{'GLOBAL.CLICK_TO_SELECT' | translate}}" [(ngModel)]="selectedImage">
        <mat-option *ngFor="let image of images" [value]="image.src">
            <img [src]="image.src">
          <span>{{image.name}}</span>
        </mat-option>
      </mat-select>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-toolbar>
    <h2 mat-dialog-title>{{"TASK.TASKS" | translate}}:</h2>

    <span class="toolbar-spacer"></span>

    <div flex>
      <span>{{"DEVELOPER.GOLD" | translate}}: {{calculateGoldAmountOfTasks()}}</span>
    </div>
    <div flex>
      <span>{{"DEVELOPER.XP" | translate}}: {{calculateXpAmountOfTasks()}}</span>
    </div>

    <button mat-icon-button color="accent" (click)="addFreeTask()">
      <mat-icon>playlist_add</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="suggestTasks()">
      <mat-icon>lightbulb_outline</mat-icon>
    </button>

  </mat-toolbar>



  <mat-list>
    <mat-list-item *ngFor="let task of tasks">
      <h3 mat-line> {{task?.title}} </h3>
      <p mat-line>
        <span *ngIf="task?.debt">{{"TASK.STANDARDTASK" | translate}}</span>
        <span *ngIf="!task?.debt">{{"TASK.SPECIALTASK" | translate}}</span>
      </p>
      <p mat-line>
        <span>{{"DEVELOPER.GOLD" | translate}}: {{task?.gold}}, </span>
        <span>{{"DEVELOPER.XP" | translate}}: {{task?.xp}}</span>
      </p>
      <button mat-icon-button (click)="removeTask(task)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color="primary" (click)="createQuest()">{{"GAMEMASTER_PAGE.QUEST.CREATE_QUEST" | translate}}</button>
</mat-dialog-actions>