<mat-card *ngFor="let task of taskList">
    <div [ngSwitch]="task.type">
        <i *ngSwitchCase="'CODE_SMELL'" class="material-icons">format_paint</i>
        <i *ngSwitchCase="'VULNERABILITY'" class="material-icons">lock_open</i>
        <i *ngSwitchCase="'BUG'" class="material-icons">bug_report</i>
        {{ task.type  }}
    </div>
    <div class="questlog-quest-info p-2">
        <p [class.strikethrough]="task.status==='SOLVED'" class="quest-title">{{ task.title }}</p>
        <p mat-line>
            <i mat-list-icon class="ra ra-gold-bar ra-lg"></i><span>{{task?.gold}}</span>
            <i mat-list-icon class="ra ra-perspective-dice-random ra-lg"></i><span>{{task?.xp}}</span>
            <span *ngIf="task.participant">, {{"QUEST_PAGE.COMBATED_BY"| translate}}: {{task.participant}} </span>
        </p>
        <button mat-icon-button (click)="openIssue(task)" [matTooltip]="'QUEST_PAGE.SHOW_ISSUE_TOOLTIP' | translate"
            [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="after">
            <i class="ra ra-chain ra-2x"></i>
        </button>
        <button mat-icon-button (click)="addParticipation(task)" *ngIf="!task.participant && task.status !== 'SOLVED'"
            [matTooltip]="'QUEST_PAGE.JOIN_ISSUE_TOOLTIP' | translate" [matTooltipClass]="'tooltipMultiline'"
            matTooltipPosition="after">
            <i class="ra ra-sword ra-2x"></i>
        </button>
        <button mat-icon-button (click)="removeParticipation(task)"
            *ngIf="participatingDeveloperIsLoggedInDeveloper(task) && task.status !== 'SOLVED'"
            [matTooltip]="'QUEST_PAGE.CANCEL_ISSUE_TOOLTIP' | translate" [matTooltipClass]="'tooltipMultiline'"
            matTooltipPosition="after">
            <mat-icon mat-list-icon>clear</mat-icon>
        </button>
    </div>
</mat-card>