<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
  <g id="Gruppe_4" transform="translate(-746 -151)">
    <circle id="Ellipse_3" cx="40" cy="40" r="40" transform="translate(746 151)" fill="#191818"/>
    <text id="XP" transform="translate(757 212)" fill="#646464" font-size="51" font-family="SegoeUI-Bold, Segoe UI" font-weight="700" letter-spacing="-0.046em">
      <tspan x="0" y="0">XP</tspan>
    </text>
    <text id="XP-2" transform="translate(755 212)" fill="#fc0" font-size="51" font-family="SegoeUI-Bold, Segoe UI" font-weight="700" letter-spacing="-0.046em">
      <tspan x="0" y="0">XP</tspan>
    </text>
  </g>
</svg>
