<div class="container-fluid h-100">
  <div class="row h-100">

    <div class="col-12 col-md-3 p-0 h-100">
      <app-questlog [questList]="raid.quests"></app-questlog>
      <app-tasklog [taskList]="raid.tasks"></app-tasklog>
    </div>
    <div class="col-12 col-md-6 p-0">
      <section>
        <app-monster-stage [monster]="monster"></app-monster-stage>
      </section>
      <section>
      </section>
    </div>
    <div class="col-12 col-md-3 p-0">
      <app-raid-highscore [raidHighScores]="raid.raidHighScore"></app-raid-highscore>
    </div>
  </div>
</div>