<div class="background">
  <mat-card>
    <mat-tab-group>
      <mat-tab [label]="'WORLD.WORLDS' | translate" class="tab">
        <app-gamemaster-world></app-gamemaster-world>
      </mat-tab>
      <mat-tab [label]="'ADVENTURE.ADVENTURES' | translate">
        <app-gamemaster-adventure></app-gamemaster-adventure>
      </mat-tab>
      <mat-tab [label]="'QUEST.QUESTS' | translate">
        <app-gamemaster-quest></app-gamemaster-quest>
      </mat-tab>
      <mat-tab [label]="'TASK.TASKS' | translate">
        <app-gamemaster-task></app-gamemaster-task>
      </mat-tab>
      <mat-tab [label]="'APP_COMPONENT.MARKETPLACE' | translate">
        <app-gamemaster-marketplace></app-gamemaster-marketplace>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>