<mat-card>
  <mat-tab-group>
    <mat-tab [label]="'GAMEMASTER_PAGE.WORLDS' | translate" class="tab">
      <app-gamemaster-world></app-gamemaster-world>
    </mat-tab>
    <mat-tab [label]="'GAMEMASTER_PAGE.ADVENTURES' | translate">
      <app-gamemaster-adventure></app-gamemaster-adventure>
    </mat-tab>
    <mat-tab [label]="'GAMEMASTER_PAGE.QUESTS' | translate">
      <app-gamemaster-quest></app-gamemaster-quest>
    </mat-tab>
    <mat-tab [label]="'GAMEMASTER_PAGE.TASKS' | translate">
      <app-gamemaster-task></app-gamemaster-task>
    </mat-tab>
  </mat-tab-group>
</mat-card>

