<div class="background">
  <mat-card>
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab [label]="'RAID.RAIDS' | translate">
        <app-gamemaster-raid></app-gamemaster-raid>
      </mat-tab>
      <mat-tab [label]="'ADVENTURE.ADVENTURES' | translate">
        <app-gamemaster-adventure [isSelected]="selectedTab === 0"></app-gamemaster-adventure>
      </mat-tab>
      <mat-tab [label]="'QUEST.QUESTS' | translate">
        <app-gamemaster-quest></app-gamemaster-quest>
      </mat-tab>
      <mat-tab [label]="'TASK.TASKS' | translate">
        <app-gamemaster-task></app-gamemaster-task>
      </mat-tab>
      <mat-tab [label]="'QualityGateRaid.QualityGateRaid' | translate">
        <app-gamemaster-quality-gate></app-gamemaster-quality-gate>
      </mat-tab>
      <div *ngIf="isMarketplaceVisible">
        <mat-tab [label]="'APP_COMPONENT.MARKETPLACE' | translate">
          <app-gamemaster-marketplace></app-gamemaster-marketplace>
        </mat-tab>
      </div>
    </mat-tab-group>
  </mat-card>
</div>
