<mat-card-content>
  <div flex>
    <mat-form-field>
      <input matInput placeholder="Configname" [(ngModel)]="configName">
    </mat-form-field>
  </div>

  <div flex>
    <mat-form-field>
      <input matInput placeholder="SonarQube URL" [(ngModel)]="sonarQubeUrl">
    </mat-form-field>
  </div>

  <div flex>
    <mat-form-field>
      <input matInput placeholder="Http Basic Auth Username" [(ngModel)]="httpBasicAuthUsername">
    </mat-form-field>
  </div>

  <div flex>
    <mat-form-field>
        <input matInput placeholder="Http Basic Auth Password" [(ngModel)]="httpBasicAuthPassword" type="password">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="save()">{{"GLOBAL.SAVE" | translate}}</button>
    <button mat-button color="primary" (click)="checkSonarQubeUrl()">{{"ADMIN_PAGE.SONARQUBE_CONNECTION_TEST.START" | translate}}</button>
  </div>
</mat-card-content>
