<h2 mat-dialog-title>Freie Quest hinzufügen</h2>
<mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let quest of freeQuests">
      <h3 mat-line> {{quest.title}} </h3>
      <p mat-line>
        <span>Gold: {{quest.gold}}, </span>
        <span>XP: {{quest.xp}}</span>
      </p>
      <button mat-icon-button (click)="addQuest(quest)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <h2 *ngIf="freeQuests?.length==0">Keine freien Quests vorhanden!</h2>
</mat-dialog-content>
