<mat-toolbar color="primary">
    <h2 mat-dialog-title>{{"TASK.NEW_SPECIALTASK" | translate}}</h2>
  </mat-toolbar>
<mat-dialog-content>
  <div layout="column" layout-padding>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput [placeholder]="'TABLE.COLUMNS.TITLE' | translate" [(ngModel)]="title">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput [placeholder]="'DEVELOPER.GOLD' | translate" type="number" [(ngModel)]="gold">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput [placeholder]="'DEVELOPER.XP' | translate"  type="number" [(ngModel)]="xp">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <textarea matInput [placeholder]="'TASK.MISSION' | translate" [(ngModel)]="message"></textarea>
      </mat-input-container>
    </div>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color="primary" (click)="createSpecialTask()">{{"GAMEMASTER_PAGE.TASK.CREATE_SPECIALTASK" | translate}}</button>
</mat-dialog-actions>
