<h2 mat-dialog-title>Neue Sonderaufgabe</h2>
<mat-dialog-content>
  <div layout="column" layout-padding>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="Titel" [(ngModel)]="title">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="Gold" type="number" [(ngModel)]="gold">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="XP"  type="number" [(ngModel)]="xp">
      </mat-input-container>
    </div>
    <div flex>
      <mat-input-container class="full-width">
        <textarea matInput placeholder="Auftrag" [(ngModel)]="message"></textarea>
      </mat-input-container>
    </div>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="createSpecialTask()">Sonderaufgabe erstellen</button>
</mat-dialog-actions>
