<ng-container *ngIf="(wizard$ | async) as wizard">
  <mat-card>
    <mat-card-content class="wizard">
      <i mat-list-icon class="ra ra-fairy-wand ra-2x"
        [matTooltip]="'WIZARD.WIZARD_SAYS' | translate"
        [matTooltipClass]="'tooltipMultiline'"
        matTooltipPosition="below"></i>
          {{wizard.message | translate}}:&nbsp;{{wizard.solution | translate}}
    </mat-card-content>
  </mat-card>
</ng-container>
<mat-card>
  <mat-tab-group  (selectedTabChange)="onTabChange($event)" [selectedIndex]="selectedTab"> 
    <mat-tab [label]="'ADMIN_PAGE.SONAR_QUBE_HEADER' | translate" class="tab">
      <sq-admin-sonar-qube></sq-admin-sonar-qube>
    </mat-tab>
    <mat-tab [label]="'WORLD.WORLDS' | translate" class="tab">
      <sq-admin-world></sq-admin-world>
    </mat-tab>
    <mat-tab [label]="'DEVELOPER.DEVELOPER' | translate" class="tab">
        <sq-admin-developer></sq-admin-developer>
      </mat-tab>  
  </mat-tab-group>
</mat-card>

