<div class="monster-container">
    <img [src]="monster.Image" alt="test">
    <div class="monster-info">
        <div class="monster-info-heading rounded-top p-1">
            <h2>Bazooka das Seeungeheuer</h2>
        </div>
        <div class="monster-info-healthbar-container rounded-bottom p-1">
            <div class="monster-info-healthbar rounded">
                <div class="monster-info-health pr-2" [style.width]="monsterProgressStyleWidth"></div>
            </div>
        </div>
    </div>
</div>