<h2 mat-dialog-title>{{"GAMEMASTER_PAGE.TASK.EDIT_SPECIALTASK" | translate}}</h2>
<mat-dialog-content>
  <div layout="column" layout-padding>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput [placeholder]="'TABLE.COLUMNS.TITLE' | translate" [(ngModel)]="specialTask.title">
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput [placeholder]="'DEVELOPER.GOLD' | translate" type="number" [(ngModel)]="specialTask.gold">
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput [placeholder]="'DEVELOPER.XP' | translate"  type="number" [(ngModel)]="specialTask.xp">
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <textarea matInput [placeholder]="'TASK.MISSION' | translate" [(ngModel)]="specialTask.message"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="updateSpecialTask()">{{"GLOBAL.SAVE" | translate}}</button>
</mat-dialog-actions>
