<mat-dialog-content>
    <h3>{{quest.title}}</h3>
  <div layout="row">
    <div flex>
      <b>{{"DEVELOPER.GOLD"| translate}}: </b>{{quest.gold}}
    </div>
    <div flex>
     <b>{{"DEVELOPER.XP"| translate}}: </b> {{quest.xp}}
    </div>
  </div>

  <div class="storyContainer">
        {{quest.story}}
  </div>
  <mat-divider></mat-divider>
    <h3>{{"TASK.TASKS"| translate}}</h3>
  <mat-list>
    <mat-list-item *ngFor="let task of tasks">
      <h3 mat-line> {{task?.title}} </h3>
      <p mat-line>
        <span>{{"DEVELOPER.GOLD"| translate}}: {{task?.gold}}, </span>
        <span>{{"DEVELOPER.XP"| translate}}: {{task?.xp}}</span><span *ngIf="participatingDeveloper(task)">, </span>
        <span *ngIf="participatingDeveloper(task)">{{"QUEST_PAGE.COMBATED_BY"| translate}}: {{participatingDeveloper(task)?.username}} </span>
      </p>
      <button mat-icon-button (click)="addParticipation(task)" *ngIf="!participatingDeveloper(task)">
          <i class="ra ra-sword"></i>
      </button>
      <button mat-icon-button (click)="removeParticipation(task)" *ngIf="participatingDeveloperIsLoggedInDeveloper(task)">
          <mat-icon mat-list-icon>clear</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
