<h2 mat-dialog-title>{{world.name}}</h2>
<mat-dialog-content>
  <div layout="column">
    <div flex>
      <mat-input-container>
        <input matInput placeholder="Name" [(ngModel)]="world.name">
      </mat-input-container>
    </div>
    <div flex>
      <mat-checkbox [(ngModel)]="world.active">{{"WORLD.ACTIVE"| translate}}</mat-checkbox>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="updateWorld()">{{"GLOBAL.SAVE"| translate}}</button>
</mat-dialog-actions>
