  
.questlog-quest {
    background-color:rgba(255, 255, 255, 0.75) !important;
    min-height: 100px;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    transition: ease-in-out 200ms;
    cursor: pointer;
}
  
.questlog-quest:hover {
    background-color: #EEEEC3;
}
  
.questlog-quest-image {
    min-height: 82px;
    min-width: 82px;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.questlog-quest-info p {
    padding: 0;
    margin: 0;
    font-family: helvetica;
}
  
p.quest-title {
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}
  
.quest-progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    border: 2px solid #0A0;
}
  
.quest-progress {
    height: 100%;
    background-color: #00AA00;
}
  