<mat-card *ngFor="let quest of questList">
    <mat-card>
        <div class="d-flex justify-content-start align-items-center">
            <img [src]="quest.image" [alt]="quest.title" class="d-none" #questImage>
            <div class="questlog-quest-image overflow-hidden border m-2 rounded-circle"
                [style.background-image]="'url(' + questImage.src + ')'">
            </div>
            <div class="questlog-quest-info p-2 w-100">
                <h5 matTooltip="{{quest.story}}">{{ quest.title }}</h5>
                <div class="quest-progress-bar w-100" matTooltip="Quest zu {{ quest.questProgress }}% gelöst">
                    <div class="quest-progress" [style.width]="quest.questProgress + '%'"></div>
                </div>
                <p mat-line>
                    <i mat-list-icon class="ra ra-gold-bar ra-lg"></i><span class="p-1">{{quest?.gold}}</span>
                    <i mat-list-icon class="ra ra-perspective-dice-random ra-lg"></i><span
                        class="p-1">{{quest?.xp}}</span>
                    <button mat-icon-button (click)="viewQuest(quest)"
                        [matTooltip]="'QUEST_PAGE.SHOW_QUEST' | translate" [matTooltipClass]="'tooltipMultiline'"
                        matTooltipPosition="below" class="ra ra-quill-ink ra-2x">
                    </button>
                </p>
            </div>
        </div>
        <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Quest Aufträge:
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-tasklog [quest]="quest" [taskList]="quest.tasks">
            </app-tasklog>
        </mat-expansion-panel>
    </mat-card>
</mat-card>