mat-card-content{
	height: 100%;
}

mat-card {
height: 90%;

}
.ngx-charts{
	height: 100%;
}

.graph-viewbox{
	height: 80%;
	width: 100%;
}

.pointer{
	cursor: pointer;
}

.not-allowed{
	cursor: not-allowed;
}

.no-world-selected{
	color:rgba(0, 0, 0, 0.54);
	text-align: center;
	margin-top: 25px;
}

.toolbar-spacer {
	flex: 1 1 auto;
  }

  