<mat-toolbar color="primary">
  <h2 mat-dialog-title>{{"ARTEFACT.EDIT_ARTEFACT" | translate}}</h2>
  <span class="toolbar-spacer"></span>

  <button *ngIf="icon==''" mat-raised-button (click)="selectIcon(icon)">
    <span style="color:black">{{"ARTEFACT.SELECT_ICON" | translate}}</span>
  </button>
  <button *ngIf="icon!=''" mat-button (click)="selectIcon(icon)">
    <i class="ra ra-4x" [ngClass]="icon"></i>
  </button>
  
</mat-toolbar>

<mat-dialog-content>
  <div layout="column" layout-padding>

    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="Name" [(ngModel)]="name">
      </mat-input-container>
    </div>

    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="min. Level" type="number" min="1" [(ngModel)]="min">
      </mat-input-container>
    </div>

    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="Price" type="number" min="0" [(ngModel)]="price">
      </mat-input-container>
    </div>

    <div flex>
      <mat-input-container class="full-width">
        <input matInput placeholder="available quantity" type="number" min="0" [(ngModel)]="quantity">
      </mat-input-container>
    </div>

    <div flex>
      <mat-input-container class="full-width">
        <textarea matInput placeholder="Description" maxlength="255" [(ngModel)]="description"></textarea>
      </mat-input-container>
    </div>

  </div>
</mat-dialog-content>

<mat-toolbar>
  <h2 mat-dialog-title>{{"SKILL.SKILLS" | translate}}</h2>
</mat-toolbar>
<td-data-table #dataTable [data]="filteredSkills" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows"
  [sortOrder]="sortOrder" (sortChange)="sort($event)">
</td-data-table>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color="primary" (click)="updateArtefact()">{{"ARTEFACT.EDIT_ARTEFACT" | translate}}</button>
</mat-dialog-actions>