<mat-divider>
</mat-divider>
<mat-card-content>
  <div layout="row">
    <div flex></div>
    <button mat-raised-button color="primary" (click)="createUser()">
      <mat-icon class="icon">add</mat-icon>{{'ADMIN_PAGE.CREATE_DEVELOPER' | translate}}
    </button>
  </div>

  <td-data-table #dataTable [data]="filteredData" [sortable]="true" [columns]="columns" [sortBy]="sortBy" [(ngModel)]="selectedRows"
    [sortOrder]="sortOrder" (sortChange)="sort($event)">
    <ng-template tdDataTableTemplate="mail" let-value="value" let-row="row" let-column="column">
        <div layout="row" *ngIf="!value.includes('.local')">
       {{value}}
        </div>
      </ng-template>
    <ng-template tdDataTableTemplate="edit" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <button mat-icon-button (click)="editUser(row)" [matTooltip]="'GLOBAL.EDIT' | translate"
        [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="below">
          <i class="ra ra-quill-ink ra-2x"></i>
        </button>
        <button mat-icon-button (click)="deleteUser(row)" [matTooltip]="'GLOBAL.DELETE' | translate"
        [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="below">
          <i class="ra ra-broken-skull ra-2x"></i>
        </button>
      </div>
    </ng-template>
  </td-data-table>
</mat-card-content>
