<h1 mat-dialog-title>{{data.label}}</h1>
<div mat-dialog-content>
    <h4 mat-subheader>{{"INNER_SKILL_TREE_POPUP.DESCRIPTION" | translate}}</h4>
   <mat-list>
      <h2 mat-subheader>{{"INNER_SKILL_TREE_POPUP.RULES" | translate}}</h2>
    <mat-list-item *ngFor="let rule of data.sonarRuleDTOs">
      
      <a class="clickable"  
      [matTooltip]="'INNER_SKILL_TREE_POPUP.TOOLTIP' | translate"
      [matTooltipClass]="'tooltipMultiline'"
      matTooltipPosition="below" (click)="openRule(rule.key)">{{rule.name}}</a>
    <!--   <button mat-icon-button (click)="openIssue(task)"
              [matTooltip]="'INNER_SKILL_TREE_POPUP.TOOLTIP' | translate"
              [matTooltipClass]="'tooltipMultiline'"
              matTooltipPosition="after">
        <i class="ra ra-chain ra-2x"></i>
      </button> -->
     <!--  <h3 mat-line [class.strikethrough]="task.status==='SOLVED'"> {{task?.title}} </h3> -->
      <!-- <p mat-line>
        <i mat-list-icon class="ra ra-gold-bar ra-lg"></i><span>{{task?.gold}}</span>
        <i mat-list-icon class="ra ra-perspective-dice-random ra-lg"></i><span>{{task?.xp}}</span>
        <span *ngIf="participatingDeveloper(task)">, </span>
        <span *ngIf="participatingDeveloper(task)">{{"QUEST_PAGE.COMBATED_BY"| translate}}: {{participatingDeveloper(task)?.username}} </span>
      </p>
      <button mat-icon-button (click)="openIssue(task)"
              [matTooltip]="'QUEST_PAGE.SHOW_ISSUE_TOOLTIP' | translate"
              [matTooltipClass]="'tooltipMultiline'"
              matTooltipPosition="after">
        <i class="ra ra-chain ra-2x"></i>
      </button>
      <button mat-icon-button (click)="addParticipation(task)" 
              *ngIf="!participatingDeveloper(task) && task.status !== 'SOLVED'"
              [matTooltip]="'QUEST_PAGE.JOIN_ISSUE_TOOLTIP' | translate"
              [matTooltipClass]="'tooltipMultiline'"
              matTooltipPosition="after">
        <i class="ra ra-sword ra-2x"></i>
      </button>
      <button mat-icon-button (click)="removeParticipation(task)"
              *ngIf="participatingDeveloperIsLoggedInDeveloper(task) && task.status !== 'SOLVED'"
              [matTooltip]="'QUEST_PAGE.CANCEL_ISSUE_TOOLTIP' | translate"
              [matTooltipClass]="'tooltipMultiline'"
              matTooltipPosition="after">
        <mat-icon mat-list-icon>clear</mat-icon>
      </button> -->
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">{{"INNER_SKILL_TREE_POPUP.CONFIRM" | translate}}</button>
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>