<i [className]="'ra ra-lg '+ data.groupIcon"></i>
<h1 mat-dialog-title class="dialog-title">{{data.label}}</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="{{'INNER_SKILL_TREE_POPUP.OVERVIEW' | translate}}">
      <h4 mat-subheader>{{"INNER_SKILL_TREE_POPUP.DESCRIPTION" | translate}}</h4>
      <mat-list>
        <h2 mat-subheader>{{"INNER_SKILL_TREE_POPUP.RULES" | translate}}</h2>

        <mat-list-item *ngFor="let rule of data.sonarRuleDTOs">

          <a class="clickable" [matTooltip]="'INNER_SKILL_TREE_POPUP.TOOLTIP' | translate"
            [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="below"
            (click)="openRule(rule.key)">{{rule.name}}</a>

        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab [disabled]="!isAdmin" label="{{'INNER_SKILL_TREE_POPUP.EDIT' | translate}}">
      <form [formGroup]="editForm">
        <div layout="column" layout-padding>
          <div flex>
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'INNER_SKILL_TREE_POPUP.REQUIRED_REPETITIONS' | translate}}" [(ngModel)]="this.data.requiredRepetitions"
                class="form-control" formControlName="requiredRepetitions">
              <mat-error>{{getErrorMessage('requiredRepetitions')}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div layout="row" layout-align="end end">
          <button mat-button color="primary" (click)="updateRepetitions()">
            <mat-icon class="icon">mode_edit</mat-icon>
            {{'GLOBAL.SAVE' | translate}}
          </button>
        </div>

      </form>
    </mat-tab>
  </mat-tab-group>


</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">{{"INNER_SKILL_TREE_POPUP.CONFIRM" | translate}}</button>
</div>