<div class="background">
  <mat-card>
    <mat-card-content>
      <div layout="row">
        <div flex>
          <div layout="row">
            <div>
              <img style="width:100%; border: 1px solid #888; height:200px; width:auto;" [src]="imageToShow">
            </div>
            <div flex>
              <div layout="column">
                <mat-card-title>{{developer?.username}}</mat-card-title>
                <mat-card-subtitle>{{"DEVELOPER.AVATARCLASS"| translate}}: {{developer?.avatarClass.name}}</mat-card-subtitle>
                <mat-card-subtitle>{{"DEVELOPER.AVATARRACE"| translate}}: {{developer?.avatarRace.name}}</mat-card-subtitle>
              </div>
            </div>
          </div>
        </div>

        <div flex-end>
          <div layout="column">
            <div layout="row">
              <div flex></div>
              <div flex-end>
                <button mat-icon-button (click)="editAvatar()">
                  <mat-icon class="icon">mode_edit</mat-icon>
                </button>
              </div>
            </div>

            <div layout="row">
              <div layout="column" class="progress-area">
                <div layout="row">
                  <div flex>
                    <span>{{"DEVELOPER.LEVEL"| translate}}: {{level}}</span>
                  </div>

                  <div flex></div>
                  <div flex-end>
                    <span>{{"GLOBAL.GOLD"| translate}}: {{developer?.gold}}
                      <i class="ra ra-gold-bar ra-lg"></i>
                    </span>
                  </div>
                </div>

                <div layout="row">
                  <div flex></div>
                  <div flex-end>
                    <span flex>{{"GLOBAL.XP"| translate}}: {{developer?.xp}}/{{developer?.level.max}}
                      <i class="ra ra-perspective-dice-random ra-lg"></i>
                    </span>
                  </div>
                </div>

                <div layout="row">
                  <mat-progress-bar flex mode="determinate" [value]="XPpercent"></mat-progress-bar>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-toolbar>
      <h2 mat-dialog-title>{{"DEVELOPER.ABOUTME" | translate}}:</h2>
    </mat-toolbar>

    <mat-card-content>
      <p>{{developer?.aboutMe}}</p>
    </mat-card-content>

    <mat-toolbar>
      <h2 mat-dialog-title>{{"ARTEFACT.ARTEFACTS" | translate}}:</h2>
    </mat-toolbar>

    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="3:1">
        <mat-grid-tile *ngFor="let artefact of developer?.artefacts">
          <i [matTooltip]="'Name:' + artefact.name + '\nSkills: ' + createSkillsList(artefact)" [matTooltipClass]="'tooltipMultiline'"
            matTooltipPosition="after" class="ra ra-3x" [ngClass]="artefact.icon"></i>
          <span>{{artefact.name}}</span>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-toolbar>
        <h2 mat-dialog-title>{{"DEVELOPER.TROPHIES" | translate}}:</h2>
      </mat-toolbar>
  
      <mat-card-content>
        <p>Coming soon.....</p>
      </mat-card-content>
  </mat-card>
</div>