<div layout="row" layout-margin>
  <div flex>
    <mat-card>
      <div layout="row">
        <div flex="50">
          <div layout="row">
            <div flex layout-margin>
              <img style="max-width:100%; max-height:100%;margin:9%" src="http://via.placeholder.com/200x200">
            </div>
            <div flex="70">
              <div layout="column" layout-padding>
                <div flex>
                  <mat-card-title>{{developer?.username}}</mat-card-title>
                  <mat-card-subtitle>{{developer?.avatarClass.name}}</mat-card-subtitle>
                  <mat-card-subtitle>{{developer?.avatarRace.name}}</mat-card-subtitle>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div flex layout-margin>
          <div layout="row" layout-margin>
            <div flex="50">
              <div layout="column">
                <div flex>{{"DEVELOPER.LEVEL"| translate}}:</div>
                <div flex style="font-weight:bold; font-size:20pt">{{developer?.level.name}}</div>
                <div layout="row">
                  <div flex></div>
                  <div flex-end>{{developer?.xp}}/{{developer?.level.max}} XP ({{XPpercent}}%)</div>
                </div>
                <mat-progress-bar flex mode="determinate" [value]="XPpercent"></mat-progress-bar>
              </div>
            </div>
            <div flex></div>
            <div flex>
              <div layout="column">
                <div flex>{{"DEVELOPER.GOLD"| translate}}:</div>
                <div flex style="font-weight:bold; font-size:20pt">{{developer?.gold}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-card-content>
        <mat-divider></mat-divider>
        <p>{{developer?.aboutMe}}</p>
        <mat-divider></mat-divider>
        <h3>{{"ARTEFACT.ARTEFACTS"| translate}}</h3>
        <mat-grid-list cols="4" rowHeight="3:1">
          <mat-grid-tile *ngFor="let artefact of developer?.artefacts">
            <i [matTooltip]="'Name:' + artefact.name + '\nSkills: ' + createSkillsList(artefact)" [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="after" class="ra ra-3x" [ngClass]="artefact.icon"></i>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
