@import '~swiper/dist/css/swiper.min.css';

.history-goldStar-Img {
    width: 72px;
}
p.condition-title {
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
}  
.condition-info p {
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

.highScore {
    font-family: 'Indie Flower', cursive;
}
.highScore-Background {
    height: 223px;
    background-size: cover;
}
.highScore-Content {
    position: absolute;
    top: 5%;
    right: 15%;
    font-family: 'Indie Flower', cursive;
}
.mainstage {
   position: relative;
}
.history-swiper {
   position: relative;
   height: auto;
}
.cards-container {
   margin-bottom: 3em;
}
.ra-player-shot {
   color: #ce0202;
}


.monster-container {
    position: relative;
    overflow: hidden;
    text-align: center;
}
  
.monster-container img {
    margin: auto;
    max-width: 79%;
    width: 75%;
}
  
.monster-info {
    position: absolute;
    z-index: 99;
    background: transparent;
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 25px;
}
  
.monster-info-heading {
    width: 75%;
    margin: auto;
}

.condition-header {
    margin: 0;
    display: inline-block;
  }
 