<div class="container-fluid h-100">
    <div class="row h-80">
        <div class="col-12 col-md-3 p-0 h-70">
            <mat-card>
                <h4 style="text-align: center;">Bedingungen: </h4>
            </mat-card>
            <div *ngFor="let condition of conditionList">
                <mat-card>
                    <div class="d-flex justify-content-start align-items-center">
                        <i *ngIf="condition.status=='OPEN'" mat-list-icon class="ra  ra-player-shot ra-3x"></i>
                        <i *ngIf="condition.status=='CLOSED'" mat-list-icon class="ra ra-broadsword ra-3x"></i>
                        <div class="condition-info p-2">
                            <p class="condition-title">{{ condition.title }}</p>
                            <p> Aktuell: {{condition.actualValue}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-12 col-md-6 p-0 mainstage">
            <img *ngIf="raid.sonarQubeStatus=='OK'" style="width: inherit;" src="assets/images/gate/fence-159411_1280.png" alt="gate">
            <img *ngIf="raid.sonarQubeStatus=='ERROR'" src="assets/images/monster/monster2.png" alt="gate">
            <mat-card class="history-swiper">
                <h5 class="pt-4 pl-4">Verlauf:</h5>
                <swiper [config]="swiperConfig" [index]="slideIndex">
                    <div class="cards-container" *ngFor="let history of rewardHistoryList">
                        <mat-card>
                            <mat-card-content class="d-flex flex-column align-items-center">
                                <img *ngIf="history.sonarQubeStatus=='OK'" 
                                    src="assets/images/gate/Gold_Star.svg.png"
                                    class="history-goldStar-Img" alt="Stern">

                                <em *ngIf="history.sonarQubeStatus=='ERROR'" mat-list-icon
                                    class="ra ra-player-shot ra-5x"></em>

                                <p matLine><span> {{history.statusDate}} </span> </p>
                                <p matLine><span>Bonus: {{history.gold}} Gold</span> </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </swiper>
            </mat-card>
        </div>
        <div class="col-12 col-md-3 p-0">
            <div class="highScore-Background" style="background-image: url('../assets/images/gate/scroll-34606_1280.png');">
                <div class="highScore-Content">
                    <h5>Highscore - Fehlerfreie Tage</h5>
                    <span *ngIf="highScore"> Top Score: </span>
                    <span *ngIf="highScore.scorePoints < 1"> - </span>
                    <span *ngIf="highScore.scorePoints >= 1"> {{highScore.scorePoints}} , am {{highScore.scoreDay}} </span>
                    <p matLine>
                        <span *ngIf="actualScore">Aktueller Score: </span> 
                        <span *ngIf="actualScore.scorePoints < 1"> - </span>
                        <span *ngIf="actualScore.scorePoints >= 1" 
                                [style.font-weight]="actualScore.scorePoints >= highScore.scorePoints ? 'bold' : 'normal'">
                                {{actualScore.scorePoints}} 
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>