

.pulse {
  display: block;
  right: 10px;
  top: 14px;
  position: absolute;
  border-radius: 50%;
  background: transparent;
  color:#c45454;
  box-shadow: 0 0 0 rgba(204, 44, 57, 0.4);
  animation: pulse 2s infinite;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 57, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 44, 57, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 57, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 44, 57, 0.4);
      box-shadow: 0 0 0 0 rgba(204, 44, 57, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 44, 57, 0);
        box-shadow: 0 0 0 10px rgba(204, 44, 57, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 44, 57, 0);
        box-shadow: 0 0 0 0 rgba(204, 44, 57, 0);
    }
  }