<mat-card-content>
  <div flex>
    <mat-form-field>
      <input matInput placeholder="Configname" [(ngModel)]="configName">
    </mat-form-field>
  </div>

  <div flex>
    <mat-form-field>
      <input matInput placeholder="SonarQube URL" [(ngModel)]="sonarQubeUrl">
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="checkSonarCubeUrl()">Check</button>
  </div>

  <div flex>
    <mat-form-field>
      <input matInput placeholder="Http Basic Auth Username" [(ngModel)]="httpBasicAuthUsername">
    </mat-form-field>
  </div>

  <div flex>
    <mat-form-field>
        <input matInput placeholder="Http Basic Auth Password" [(ngModel)]="httpBasicAuthPassword" type="password">
    </mat-form-field>
  </div>

  <div>
    <button mat-button color="primary" (click)="save()">Save</button>
  </div>
</mat-card-content>
