<mat-toolbar color="primary">
  <h2 mat-dialog-title>{{"ARTEFACT.NEW_ARTEFACT" | translate}}</h2>

  <span class="toolbar-spacer"></span>
  <button *ngIf="icon==''" mat-raised-button (click)="selectIcon(icon)">
    <span style="color:black" >{{"ARTEFACT.SELECT_ICON" | translate}}</span>
  </button>
  <button *ngIf="icon!=''" mat-button (click)="selectIcon(icon)">
    <i class="ra ra-4x" [ngClass]="icon"></i>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <div layout="column" layout-padding>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput [placeholder]="'ARTEFACT.NAME' | translate" [(ngModel)]="name" maxLength="64" >
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput [placeholder]="'ARTEFACT.MIN_LEVEL' | translate" type="number" min="1" [(ngModel)]="min">
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput [placeholder]="'ARTEFACT.PRICE' | translate" type="number" min="0" [(ngModel)]="price">
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <input matInput [placeholder]="'ARTEFACT.QUANTITY' | translate" type="number" min="0" [(ngModel)]="quantity">
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field class="full-width">
        <textarea matInput [placeholder]="'ARTEFACT.DESCRIPTION' | translate" maxlength="255" [(ngModel)]="description"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-toolbar>
  <h2 mat-dialog-title>{{"SKILL.SKILLS" | translate}}</h2>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button (click)="createSkill()">{{"SKILL.ADD_SKILL" | translate}}</button>
</mat-toolbar>

<td-data-table #dataTable [data]="filteredSkills" [columns]="columns" [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows"
  [sortOrder]="sortOrder" (sortChange)="sort($event)"> 
  <ng-template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
    <div layout="row">
        <button mat-icon-button (click)="editSkill(row)" [matTooltip]="'GLOBAL.EDIT' | translate"
        [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="below">
        <i class="ra ra-quill-ink ra-2x"></i>
      </button>
      <button mat-icon-button (click)="removeSkill(row)" [matTooltip]="'GLOBAL.DELETE' | translate"
        [matTooltipClass]="'tooltipMultiline'" matTooltipPosition="below">
        <i class="ra ra-broken-skull ra-2x"></i>
      </button>
    </div> 
  </ng-template>
</td-data-table>

<mat-dialog-actions>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color="primary" (click)="createArtefact()">{{"ARTEFACT.CREATE_ARTEFACT" | translate}}</button>
</mat-dialog-actions>