<div layout="row" layout-margin class="background">
  <div flex>
    <mat-card>
      <mat-card-title>{{"START_PAGE.CURRENT_PROGRESS"| translate}}</mat-card-title>
      <mat-divider></mat-divider>
      <div layout="row" layout-margin>
        <div flex>
          <div layout="column">
            <div layout="row">
              <div flex>{{"DEVELOPER.LEVEL"| translate}}:</div>
              <div flex style="font-weight:bold; font-size:30pt">{{user?.level.name}}</div>
            </div>
            <div layout="row">
              <div flex></div>
              <div flex-end>{{user?.xp}}/{{user?.level.max}} XP ({{XPpercent}}%)</div>
            </div>
            <mat-progress-bar flex mode="determinate" [value]="XPpercent"></mat-progress-bar>
          </div>
        </div>
        <div flex>
          <div layout="row">
            <div flex>{{"DEVELOPER.GOLD"| translate}}:</div>
            <div flex style="font-weight:bold; font-size:30pt">{{user?.gold}}</div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div flex></div>
</div>

