/* You can add global styles to this file, and also import other style files */

.icon{
  color: grey;
}
.full-width {
  width: 100%;
}

.tooltipMultiline {
  white-space: pre-line;
}

.dialog-sexy .mat-dialog-container {
  padding: 0;
  /* padding-bottom: 24px; */
  overflow-x: hidden;
  overflow-y: auto;
} 

.dialog-sexy .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
} 

.dialog-sexy :last-child.mat-dialog-actions {
  padding: 12px 15px 12px 0px !important;
  margin-bottom: 0px  !important;
}

.dialog-sexy .mat-option {
  max-height:50px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}