/*------------------DESIGN-START------------------*/

.background-image{
  /* background-image: LOOK AT -> app.component.ts -> changeBackground() */
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover !important;
}

.mat-drawer-container, mat-mat-tab-group{
  background-color: rgba(255, 255, 255, 0) !important;
}

.light mat-card, .light mat-sidenav{
  background-color: rgba(255, 255, 255, 0.75) !important; 
}

.light mat-card mat-toolbar {
  background-color:rgba(245, 245, 245 , 0.87) !important; 
  color: black !important;
} 

mat-toolbar.mat-toolbar.mat-primary i.navlist.mat-list-icon{
  color:  rgba(255, 255, 255, 0.87) !important;
}

.light td-paging-bar,.light td-paging-bar span, .light td-paging-bar mat-icon{
  color: rgba(40, 40, 40, 0.87) !important;
}

.dark mat-card, .dark mat-sidenav{
  background-color: rgba(66, 66, 66, 0.55) !important; 
  color: white !important;
} 

.dark mat-card-subtitle{
  color: rgba(255, 255, 255, 0.7) !important; 
}

.dark mat-card mat-toolbar,
.dark mat-dialog-container,
.dark mat-dialog-container mat-dialog-content, 
.dark mat-dialog-container mat-toolbar.dark, 
.dark mat-dialog-container td-data-table, 
.dark mat-dialog-container mat-dialog-actions,
.dark mat-toolbar.mat-toolbar.mat-toolbar-single-row:not(:first-child){
  background-color:rgba(66, 66, 66, 0.87) !important; 
  color: white !important;
} 

.dark mat-toolbar .mat-primary,
.dark mat-sidenav-content i.navlist,
.dark .mat-tab-label,
.dark mat-sidenav i.navlist,
.dark mat-sidenav h3, 
.dark mat-sidenav span, 
.dark mat-sidenav-content span, 
.dark mat-sidenav-content mat-icon, 
.dark mat-sidenav-content,
.dark mat-hint,
.dark label,
.dark mat-hint 
{
  color:  rgba(255, 255, 255, 0.87) !important;
}


.dark td-paging-bar,
.dark mat-select span,
.dark td-paging-bar span, 
.dark td-paging-bar mat-icon,
.dark .td-data-table-column-row span
.dark span.mat-select-placeholder,
.dark th span{
  color: rgba(200, 200, 200, 0.87) !important;
}

.wizard{
  color: black !important;
  background-color: #ffe500 !important;
}


.icon-as-button {
  cursor: pointer !important;
}

div.little-avatar{
  width: 40px;
  height: 40px;
  overflow: hidden;
  
  border-radius: 20px;
}

img.little-avatar{
  max-width: 42px;
}

div.little-avatar-frame{
  
  display: inline-flex;
}

.mcenter{
  margin:auto !important;
}

/*------------------DESIGN-END------------------*/


.icon{
  color: grey;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}

.tooltipMultiline {
  white-space: pre-line;
}

.dialog-sexy .mat-dialog-container {
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
} 

.dialog-sexy .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
} 

.dialog-sexy :last-child.mat-dialog-actions {
  padding: 12px 15px 12px 0 !important;
  margin-bottom: 0  !important;
}

.vertical-spacer-10{
  padding-left:10px;
}

mat-option img {
  height: 48px;
  width: 48px;
  margin: 0 0 -19px 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.background{
  width: 100%;
  height: 100%;
  background-size: 0; /*20%*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

i.navlist{
  margin-left: 0;
  margin-right: 16px;
  color: #737373;
  fill: #737373;
}

.progress-area{
  margin-top: 20px;
  max-width: 50%;
  min-width: 300px;
  font-size: 1.5em;
}

.banner{
  content: url(/assets/images/sq_banner_small.png);
  margin: auto;
  height: 90px;
}

.banner-wrapper{
  width: 100%;
  height: 0;
  position: absolute;
  z-index: 1000;
}

.avatar-image{
  height:200px;
}

.avatar-image img{
  max-height:100%; 
  width:auto;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
 }

.selectBackground button{
  height: 100%;
  width:100%;
  padding: 0 !important;
}
.selectBackground img{
  width:100%
  
}

.icon-content{
  height: 700px;
  overflow-y: scroll;
}

.percent100{
  height: 100%;
  width: 100%;
}
