.outer-events{
    height: calc(100% - 16px);
}

.events{
    height: calc(100% - 122px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0px;
}

.this{
    height: 0px;
}

.QUEST .timestamp{
    background-color: rgba(102, 51, 153,0.35);
}
.MESSAGE .timestamp{
    background-color: rgba(204, 173,0,0.35);
}
.ADVENTURE .timestamp{
    background-color: rgba(0, 129, 204, 0.35);
}
.ARTEFACT .timestamp{
    background-color: rgba(114, 177, 255, 0.35);
}

.QUEST span.state{
    color: rebeccapurple !important;
}
.MESSAGE span.author{
    color: rgb(204, 173, 0)    !important;
}
.ADVENTURE span.state{
    color: rgb(0, 129, 204)    !important;
}
.ARTEFACT span.state{
    color: rgb(0, 76, 171) !important;
}

.timestamp{
    width: 60px;
    padding: 0 5px;
    align-items: center;
    display: inline-flex;
    text-align: center;
}

span.day{
    font-size: 2.0em;
}

span.author{
    font-size: 1.2em;
    font-weight: 500;
}

.state span{
    font-size: 1.2em;
}

.text{
    font-size: 1.4em;
}

.content{
    padding: 0 5px;
    width: calc(100% - 60px);
    word-wrap: break-word;
}

.content span{
    width: 100%;
}

.innercontent{
    width:100%;
}

.event-image{
    width: 50px;
}

.event-image-div{
    width: 50px;
}

.title{
    font-weight: 600;
    font-size: 1.4em;
}

div.day{
    background-color: rgba(50,50,50,0.6);
}

.e hr {
    visibility: hidden;
}

mat-icon{
    width:100% !important;
}